button{
	@extend .btn;
	@extend .btn-default;
	font-weight : bold;
	font-family : 'aldrich', 'play', sans-serif;
	outline : none $force;
	background : darken(#fff, 2%);
	box-shadow : 0px 1px 3px rgba(0, 0, 0, .5);
}